<div class="continer">
        <div class="continer-form">
            <form class="sing-in">
                <h2>Iniciar sesión</h2>
                <div class="social-networks">
                    <ion-icon name="fitness-outline"></ion-icon>
                </div>
                <span>Use su usuario y contraseña</span>
                <div class="continer-input">
                    <ion-icon name="mail-open-outline"></ion-icon>
                    <input id="username" type="text" placeholder="Usuario">
                </div>
                <div class="continer-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input id="password" type="text" placeholder="Contraseña">
                </div>
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button type="button" class="button" id="btn-login-submit">Iniciar sesión</button>
            </form>
        </div>
        <div class="continer-form">
            <form class="sign-up">
                
            </form>
        </div>
        <div class="continer-welcome">
                <div class="welcome-sign-up welcome">
                    <h3>Bienvenido a Farma-Di</h3>
                </div>
                <div class="welcome-sign-in welcome">
                    <h3>Hola</h3>
                    <p>Registrese con sus datos.</p>
                    <button class="submit" id="btn-sign-up" >Registrarse</button>
                </div>
            </div>
    </div>

